body{
  background-image: url(../images/vegetable.jpg);
  background-color: #91d18b;
  opacity: .93;
}

h1 {
  padding: 3% 4%;
}
h3{
  padding: 0;
}
.txt {
  color: #fff;
}

.inf {
  padding: 3% 5%;
}

.avatar {
  width: 50%;
}
